      .section1 {
            background-color: blue;
            color: white;
        }

        .section1 .navbar {
            display: flex;
            justify-content: space-between;
            padding: 0 50px 30px 50px;

        }

        .section1 .navbar a {
            text-decoration: none;
            color: white;
        }
    
    .section1 .navbar .list1 {
            display: flex;
            list-style: none;
            gap: 10px;

        }

        .section1 .navbar .list2 {
            display: flex;
            list-style: none;
            gap: 10px;
        }

        .section2 {
            display: flex;
            justify-content: space-between;
        }